*{
    background-color: black;
}

body{
    background-color: black;
}

h2{
    font-weight: normal;
}

.panel{
    width: 100%;
    height:30vh;
    padding: 2%;
    display: flex;
    justify-content: center;
    border-bottom: 5px solid grey;
}

#p1{
    background-color: black;
    border: 2px;
    border-color: gray;

}

.left{
    float: left;
    width: 50%;
    color:white;
    display: flex;
    justify-content: center;   

}

.right{
    float: right;
    width: 50%;
    color:white;
    display: flex;
    justify-content: center;
}

#contain{
    margin: 5%;
}

